{# src/CAF/CantineBundle/Resources/views/Menus/edit.html.twig #}
{% extends "CAFCantineBundle::cantine.html.twig" %}

{% block title %}
    Edit Menus - {{ parent() }}
{% endblock %}

{% block cafcantine_body %}

    {{ dump(form) }}
    
    <h2>Editer un menus</h2>
    {{ form(form) }}

    {#{% for mp in menus %}
        <li>
            <a href="{{ path('caf_menus_edit', {id:menu.id}) }}">
                {{ menu.dateMenu | date('d/m/Y') }}
            </a>
        </li>
    {% endfor %}#}
{{ id }}
    <a href="{{ path('caf_menus_delete', {id:id}) }}">
        Supprimer
    </a>
{% endblock %}