{# src/CAF/PopoteBundle/Resources/views/TypePlat/index.html.twig #}

{#
        <h1>id plat : {{typeplat.id}} - Type de plats : {{ typeplat.libelle }}</h1>
        <ul>
            {% for plat in typeplat.plats %}
                <li>{{ plat.id }} - {{ plat.libelle }}</li>
            {% endfor %}
        </ul>#}
        
  

{% extends "CAFPopoteBundle::popote.html.twig" %}

{% block title %}
  Type de plats - {{ parent() }}
{% endblock %}

{% block cafpopote_body %}
    <ul class="nav nav-pills nav-stacked">
        {% for type in typeplat %}
            <li>
                <a href="{{ path('popote_typeplat_edit', {id:type.id}) }}">
                    {{ type.libelle}}
                </a>  
            </li>
        {% endfor %}
    </ul>
      <a href="{{ path('popote_typeplat_add') }}"> + </a>  
    
{% endblock %}