{# src/CAF/PopoteBundle/Resources/views/Menu/add.html.twig #}

{% extends "CAFPopoteBundle::layout.html.twig" %}

{% block title %}
    Menus - {{ parent() }}
{% endblock %}

{% block cafpopote_body %}
    <h2>Ajouter un menu</h2>

{#        {{ dump(form) }} #}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

       {{ form(form.dateMenu) }}
       {{ form(form.dateValidation) }}


    {#    {{ form(form) }}#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
                
            </div>
            <div class="col-xs-2">
             
                {% for key,valeur in form.children[2:85]  %}
                    <div  class="form-group"> {{ form_label(valeur, '', {'attr': {'class': 'control-label'}} )  }}{{ form_widget(valeur, { 'attr' : { 'class' : 'form-control' } }) }} </div>
                    {% if key matches '{^.*DessertX$}' %}
                    </div>
                    <div class="col-xs-2">
                    {% endif %}
                {% endfor %}  
                
            </div>
        </div>
    </div>

    {{ form_label(form.ok) }}
    {{ form_widget(form.ok) }}

    {{ form_end(form) }}

    
{% endblock %}