{# src/CAF/Popote_Bundle/Resources/views/Menu/view.html.twig #}
{% extends "CAFPopoteBundle::popote.html.twig" %}

{% block title %}
  Vue Menu - {{ parent() }}
{% endblock %}

{% block cafpopote_body %}

  <h2>Menu</h2>
  <a href="{{ path('popote_menu_edit', {id:menu.id}) }}">
       {{ menu.id }} - {{ menu.dateMenu | date('d/m/Y') }}
  </a>
       
       {#<ul>
            {% for mp in menu.plats %}
                <li>{{ mp.id }} - </li>
            {% endfor %}
        </ul>#}
{% endblock %}