{# src/CAF/PopoteBundle/Resources/views/Repa/add.html.twig #}

{% extends "CAFPopoteBundle::layout.html.twig" %}

{% block title %}
  Repas - {{ parent() }}
{% endblock %}

{% block cafpopote_body %}
    <h3>Ajouter un repa</h3>

{#    {{dump(menu) }}#}
            {{ dump(form) }} 

    {#    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}#}
    {{ form_start(form) }}

    {#    {{ form(form) }}#}
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-1">
            </div>
            {% for jour, libJour in ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']  %}
                <div class="col-xs-2">
                    <p> {{ libJour }} </p>
                </div>
            {% endfor %}  
        </div>

        <div class="row">

            <div class="col-xs-1">
                {% for letter in ['A', 'B', 'C', 'D', 'U', 'G', 'E', 'H', 'O', 'S', 'I','R', 'M', 'T', 'F', 'L', 'X'] %}
                    <div>
                        <p class="form-control-static text-right"> {{ letter }}</p>
                    </div>
                    {% if letter matches '{^.*[D|E|I|T]$}' %}
                        <br>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="col-xs-2">
                <div data-toggle="buttons">
            <label class="btn btn-block btn-primary btn-xs">
                <input type="checkbox" name="oil" checked="checked" autocomplete="off"> Oil
            </label>
                    <label class="btn btn-block btn-success">
                <input type="checkbox" name="oil" checked="checked" autocomplete="off"> Oil
            </label>
                    <label class="btn btn-block btn-success">
                <input type="checkbox" name="oil" checked="checked" autocomplete="off"> Oil
            </label>
                    <label class="btn btn-block btn-success">
                <input type="checkbox" name="oil" checked="checked" autocomplete="off"> Oil
            </label>
                    <label class="btn btn-block btn-success">
                <input type="checkbox" name="oil" checked="checked" autocomplete="off"> Oil
            </label>
                    <label class="btn btn-block btn-success">
                <input type="checkbox" name="oil" checked="checked" autocomplete="off"> Oil
            </label>
                    </div>
                
                <div data-toggle="buttons">
                {% for key,valeur in form.children[2:10]  %}
{#                                            {{ form_label(valeur, '', {'attr': {'class': 'btn btn-block btn-primary btn-xs mybut'}}) }}#}
                    
           <label class="btn btn-block btn-success">
                    {{ form_widget(valeur) }} 
                  </label>  

                {% endfor %}  
                </div>
               
                
                {#
                {% for key,valeur in form.children[2:25]  %}
                                            {{ form_label(valeur, '', {'attr': {'class': 'control-label'}}) }}
                    
                    {{ form_widget(valeur, { 'attr' : { 'class' : 'form-control'}}) }} 
                    {% if key matches '{^.*dessert$}' %}
                    </div>
                    <div class="col-xs-2">
                    {% endif %}
                    {% if key matches '{^.*[D|E|I|T]$}' %}
                        <br>
                    {% endif %}

                {% endfor %}  
                #}
                
                
            </div>


            {#<div class="col-xs-14 col-xs-offset-1">
                {{ form_row(form.dateMenu) }}
            </div>#}

        </div>
        <div class="row">
            <div class="col-xs-12"> &nbsp; </div>
        </div>
        <div class="row">
            <div class="col-xs-1 form-control-static text-right"> {{ form_label(form.dateMenu) }} </div>
            <div class="col-xs-2"> {{ form_widget(form.dateMenu) }} </div>
            <div class="col-xs-1 col-xs-offset-1 form-control-static text-right"> {{ form_label(form.dateValidation) }} </div>
            <div class="col-xs-2"> {{ form_widget(form.dateValidation) }} </div>
            <div class="col-xs-4 text-right"> {{ form_widget(form.ok) }} </div>
        </div>
    </div>

    {{ form_row(form.ok) }}

    {#{{ form_label(form.ok) }}
    {{ form_widget(form.ok) }}#}

    {{ form_end(form) }}
    
  {#  <a href="{{ path('popote_menu_delete', {id:id}) }}">
        Supprimer
    </a>#}
{% endblock %}